{% extends "base.html" %}

{% block page_content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="tabbable" id="tabs-619095">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#panel-963871" data-toggle="tab">用例管理</a>
                    </li>
                    <li>
                        <a href="#panel-54273" data-toggle="tab">用例执行</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="panel-963871">
                        <div>
                            <p style="text-align:right">.</p>
                            <div class="row clearfix">
                                <table id="table" class="table table-striped table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>
                                                编号
                                            </th>
                                            <th>
                                                用例ID
                                            </th>
                                            <th>
                                                用例名称
                                            </th>
                                            <th>
                                                模块分类
                                            </th>
                                            <th>
                                                服务名
                                            </th>
                                            <th>
                                                请求参数
                                            </th>

                                            <th>
                                                预期结果
                                            </th>
                                            <th>
                                                验证类型
                                            </th>
                                            <th>
                                                备注
                                            </th>
                                            <th>
                                                创建人
                                            </th>
                                            <th>
                                                更新人
                                            </th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                编号
                                            </th>
                                            <th>
                                                用例ID
                                            </th>
                                            <th>
                                                用例名称
                                            </th>
                                            <th>
                                                模块分类
                                            </th>
                                            <th>
                                                服务名
                                            </th>
                                            <th>
                                                请求参数
                                            </th>

                                            <th>
                                                预期结果
                                            </th>
                                            <th>
                                                验证类型
                                            </th>
                                            <th>
                                                备注
                                            </th>
                                            <th>
                                                创建人
                                            </th>
                                            <th>
                                                更新人
                                            </th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog"
                            aria-labelledby="myModalLabel">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span></button>
                                        <h4 class="modal-title" id="myModalLabel">更新</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-horizontal" role="form">
                                            <div class="form-group">
                                                <label for="case_name" class=" col-sm-2 control-label">用例名称</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="case_name" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="service_name" class=" col-sm-2 control-label">服务名称</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="service_name" list="service_data" />
                                                    <datalist id="service_data">

                                                    </datalist>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="parameter" class="col-sm-2 control-label">请求参数</label>
                                                <div class="col-sm-9">
                                                    <textarea type="textare" class=" form-control" id="parameter" rows="4"
                                                        onmouseout="formate_json('parameter')" placeholder="使用字典格式{'xxx':'xxx'}或xxx:xxx(多个参数回车换行)"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="result" class="col-sm-2 control-label">预期结果</label>
                                                <div class="col-sm-9">
                                                    <textarea type="textare" class=" form-control" id="result" rows="4"
                                                        placeholder="使用字典格式{'xxx':'xxx'}或xxx:xxx(多个参数回车换行)"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="validation_type" class="col-sm-2 control-label">验证类型</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" id="validation_type" value="contain">
                                                        <option>相等</option>
                                                        <option>不等</option>
                                                        <option>包含</option>
                                                        <option>不存在</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="remake" class="col-sm-2 control-label">备注</label>
                                                <div class="col-sm-9">
                                                    <textarea type="textare" class=" form-control" id="remake" rows="2"></textarea>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                            </button>
                                            <button type="button" class="btn btn-primary" id="submit" onclick="add_testcase()">更新
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="panel-54273">
                        <div>
                            <div class="modal fade" id="selectmodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span></button>
                                            <h4 class="modal-title">选择模块</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label for="model" class=" col-sm-2 control-label">选择模块</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" id="model" list="modellist" />
                                                        <datalist id="modellist">
                                                        </datalist>
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                                </button>
                                                <button type="button" class="btn btn-primary" onclick="execute_model()">
                                                    提交
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="environment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span></button>
                                            <h4 class="modal-title">设置环境</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p style="color:red">
                                                默认为测试环境、退出登录后失效
                                            </p>
                                            <form class="form-horizontal" role="form">
                                                <div class="form-group">
                                                    <label for="setenvironment" class=" col-sm-2 control-label">设置环境</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-control" id="setenvironment" onchange="select_change()">
                                                            <option>测试环境</option>
                                                            <option>生产环境</option>
                                                            <option>自定义</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="baseurl" class=" col-sm-2 control-label">输入地址</label>
                                                    <div class="col-sm-9">
                                                        <input class="form-control" id="baseurl" value="测试环境" />
                                                    </div>
                                                </div>
                                            </form>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                                                </button>
                                                <button type="button" class="btn btn-primary" onclick="set_environment()">提交
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p id="envp" style="text-align:right;color: red">当前执行环境:测试环境</p>
                            <div class="row clearfix">
                                <table id="executecase" class="table table-striped table-bordered table-hover" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>
                                                用例ID
                                            </th>
                                            <th>
                                                用例名称
                                            </th>
                                            <th>
                                                模块
                                            </th>
                                            <th>
                                                服务名
                                            </th>
                                            <th>
                                                最近执行时间
                                            </th>

                                            <th>
                                                执行人
                                            </th>
                                            <th>
                                                查看结果
                                            </th>

                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>
                                                用例ID
                                            </th>
                                            <th>
                                                用例名称
                                            </th>
                                            <th>
                                                模块
                                            </th>
                                            <th>
                                                服务名
                                            </th>
                                            <th>
                                                最近执行时间
                                            </th>

                                            <th>
                                                执行人
                                            </th>
                                            <th>
                                                查看结果
                                            </th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var table;
    function load() {
        table = $('#table').DataTable({
            language: {
                url: "/static/language/cn.json"
            },
            lengthChange: true,
            ajax: "/apis/testcase",
            select: true,
            columnDefs: [
                { className: "wordwrap ellipsis-hover", targets: [5] },
                { className: "wordwrap ellipsis-hover", targets: [6] }
            ],
            dom: 'Bfrtip',
            buttons: [
                {
                    text: '新增',
                    action: function () {
                        $("#myModal").modal();
                        add_api();
                    },
                    class: "btn-default",
                },
                {
                    text: '编辑',
                    action: function () {
                        $("#myModal").modal();
                        update_api();
                    },
                    class: "btn-default",
                },
                {
                    text: '删除',
                    action: function () {
                        delete_api();
                    },
                    class: "btn-default",
                },
                {
                    'extend': 'copy',
                    'text': '拷贝数据',//定义导出excel按钮的文字  
                    'exportOptions': {
                        'modifier': {
                            'page': 'current'
                        }
                    }
                },
                {
                    'extend': 'excelHtml5',
                    'text': '导出excel',//定义导出excel按钮的文字  
                    'exportOptions': {
                        'modifier': {
                            'page': 'current'
                        }
                    }
                },
                {
                    text: '导入数据',
                    action: function () {
                        $("#upload").modal();
                    },
                    class: "btn-default",
                },
                'pageLength',
            ]
        });
    }

    function delete_api() {
        $.post("/apis/testcase", {
            case_id: table.rows(['.selected']).data()[0][1],
            operate: 'delete'
        }, function (data, status) {
            if (data.message) {
                table.ajax.reload()
                toastr.info('删除成功')
            }
        }).error(function () {
            toastr.info('删除失败')
        })
    }
    function update_api() {
        $('#myModalLabel').text("更新");
        $('#submit').text("更新");
        // $("#case_name").attr("disabled", "disabled");
        operate = 'update';
        $('#case_name').val(table.rows(['.selected']).data()[0][2]);
        $('#service_name').val(table.rows(['.selected']).data()[0][4]);
        $('#parameter').val(table.rows(['.selected']).data()[0][5]);
        $('#result').val(table.rows(['.selected']).data()[0][6]);
        $('#validation_type').val(table.rows(['.selected']).data()[0][7]);
        // $("input[name='token']:checked").val();
        // $("input[name='status']:checked").val();
        $('#remake').val(table.rows(['.selected']).data()[0][8]);
    }
    function add_api() {
        $('#myModalLabel').text("新增");
        $('#submit').text("新增");
        operate = 'add';
        $("#case_name").removeAttr("disabled");
        $('#case_name').val(table.rows(['.selected']).data()[0][2]);
        $('#service_name').val(table.rows(['.selected']).data()[0][4]);
        $('#parameter').val(table.rows(['.selected']).data()[0][5]);
        $('#result').val(table.rows(['.selected']).data()[0][6]);
        $('#validation_type').val(table.rows(['.selected']).data()[0][7]);
        // $("input[name='token']:checked").val();
        // $("input[name='status']:checked").val();
        $('#remake').val(table.rows(['.selected']).data()[0][8]);
    }
    function init_upload() {
        $("#uploadfile").fileinput({
            language: 'zh', //设置语言
            uploadUrl: '/apis/testcaseupload', // 后台处理的脚本
            allowedFileExtensions: ['xlsx'],//限制文件上传的类型
            uploadAsync: true,
            showCaption: true,
            showPreview: true, //是否显示预览
            overwriteInitial: false,
            maxFileSize: 1000,//限制文件上传的大小
            maxFilesNum: 10
        });
        //异步上传返回错误结果处理
        $('#uploadfile').on('fileerror', function (event, data, msg) {
            toastr.info('失败')
        });
        //异步上传返回结果处理
        $("#uploadfile").on("fileuploaded", function (event, data, previewId, index) {
            if (data.response.message) {
                table.ajax.reload()
                toastr.info('导入成功')
            }

        });
    }
    var execute_table;
    //测试用例执行页table初始化
    function init_executecasetable() {
        execute_table = $('#executecase').DataTable({
            language: {
                url: "/static/language/cn.json"
            },
            select: true,
            lengthChange: true,
            ajax: "/apis/executecase",
            // columnDefs: [
            //     { className: "btn btn-default", targets: [6] }
            // ],
            dom: 'Bfrtip',
            buttons: [
                {
                    text: '全部执行',
                    action: function () {
                        execute_all()
                        toastr.info('已提交请求，勿重复提交')
                    },
                    class: "btn-default",
                },
                {
                    text: '选择执行',
                    action: function () {
                        if (selected(execute_table)) {
                            toastr.info('已提交请求，勿重复提交');
                            execute_select();
                        } else {
                            toastr.info('前选择数据');
                        }
                    },
                    class: "btn-default",
                },
                {
                    text: '模块执行',
                    action: function () {
                        $("#selectmodel").modal();
                    },
                    class: "btn-default",
                },
                {
                    'extend': 'copy',
                    'text': '拷贝数据',//定义导出excel按钮的文字  
                    'exportOptions': {
                        'modifier': {
                            'page': 'current'
                        }
                    }
                },
                {
                    'extend': 'excelHtml5',
                    'text': '导出excel',//定义导出excel按钮的文字  
                    'exportOptions': {
                        'modifier': {
                            'page': 'current'
                        }
                    }
                },
                'pageLength',
                {
                    text: '刷新表格',
                    action: function () {
                        execute_table.ajax.reload()
                    }
                },
                {
                    text: '设置测试环境',
                    action: function () {
                        $('#baseurl').attr("disabled", "disabled");
                        $("#environment").modal('show')
                        // execute_table.ajax.reload()
                    }
                },
            ]
        });
    }
    //执行单个用例
    function execute_select() {
        selected(execute_table);
        $.ajax({
            url: '/apis/executecase',
            type: 'post',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: selected_jsondata(execute_table),
            success: function (result) {
                if (result.message) {
                    execute_table.ajax.reload();
                    toastr.info('执行完成');
                } else {
                    toastr.error('后台执行报错');
                    alert("用例请求接口：" + result.error)
                }
            }
        })
    }
    //执行全部用例
    function execute_all() {
        selected(execute_table);
        $.ajax({
            url: '/apis/executecase',
            type: 'post',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: JSON.stringify({ "type": "all", 'user': localStorage.user, 'environment': localStorage.environment }),
            success: function (result) {
                if (result.message) {
                    execute_table.ajax.reload();
                    toastr.info('执行完成');
                } else {
                    toastr.error('后台执行报错');
                    alert("用例请求接口：" + result.error)
                }
            }
        })
    }
    //按模块执行
    function execute_model() {
        $("#selectmodel").modal('hide');
        $.ajax({
            url: '/apis/executecase',
            type: 'post',
            contentType: "application/json; charset=utf-8",
            dataType: 'json',
            data: JSON.stringify({ "type": "model", 'user': localStorage.user, 'environment': localStorage.environment, 'data': $('#model').val() }),
            success: function (result) {
                if (result.message) {
                    execute_table.ajax.reload();
                    toastr.info('执行完成');
                } else {
                    toastr.error('后台执行报错');
                    alert("用例请求接口：" + result.error)
                }
            }
        })
    }

    function selected_jsondata(table) {
        var result = new Array();
        if (selected(table)) {
            data = table.rows(['.selected']).data()
            for (var i = 0, len = data.length; i < len; i++) {
                result[i] = data[i]
            }
            return JSON.stringify({
                'type': 'select', 'user': localStorage.user,
                'environment': localStorage.environment, 'data': JSON.stringify(result)
            })
        }
        return []
    }
    //测试环境选择联动
    function select_change() {
        $('#baseurl').val($('#setenvironment').val());
        $('#baseurl').attr("disabled", "disabled");
        if ($('#setenvironment').val() == '自定义') {
            $('#baseurl').removeAttr("disabled");
            $('#baseurl').val('');
        }
    }
    //设置测试环境配置到cookies
    function set_environment() {
        if ($('#setenvironment').val() == '自定义') {
            if (($('#baseurl').val()).includes('http')) {
                localStorage.setItem('environment', $('#baseurl').val())
                toastr.info('环境设置成功')
                get_environment();
            } else {
                toastr.error('地址输入错误')
            }
        } else {
            localStorage.setItem('environment', $('#baseurl').val())
            toastr.info('环境设置成功')
            get_environment();
        }
    }
    //获取当前测试环境
    function get_environment() {
        $('#envp').text("当前执行环境:" + localStorage.environment)
    }

    //添加更新testcase
    var operate = 'add';
    var case_id = '';
    function add_testcase() {
        $('#submit.btn').button('loading');
        is_selected(table);
        $.post("/apis/testcase", {
            case_id: case_id,
            case_name: $('#case_name').val(),
            servi_name: $('#service_name').val(),
            parameter: $('#parameter').val(),
            result: $('#result').val(),
            validation_type: $('#validation_type').val(),
            mark: $('#remake').val(),
            user: localStorage.user,
            operate: operate,
        }, function (data, status) {
            if (data != null && data.message == true) {
                $('#submit.btn').button('reset');
                table.ajax.reload()
                toastr.info('操作成功');
            } else {
                alert(operate + data.message);
                $('#submit.btn').button('reset');
            }
        }).error(function () {
            $('#submit.btn').button('reset');
            toastr.error('操作失败');
        })
    }


</script>
<script type="text/javascript">
    window.onload = function () {
        $("ul.submenu#autotest").css("display", "block");
        $("a#testcase").parent().addClass("active");
        load();
        init_upload();
        get_service_list();
        get_model_list('modellist');
        init_executecasetable();
        get_environment();
    };





</script>
<style>
    #table {
        table-layout: fixed;
    }

    .wordwrap {
        text-overflow: ellipsis;
        /*超长部分以...代替*/
        white-space: nowrap;
        /*文本不换行*/
        max-width: 200px;
        /*最大宽度*/
        overflow: hidden;
        /*超长部分隐藏掉*/
    }

    /* 超长文字单元格省略号显示 */
    td:hover {
        text-overflow: ellipsis;
        /*超长部分以...代替*/
        white-space: unset;
        /*文本不换行*/
        max-width: 200px;
        /*最大宽度*/
        overflow: hidden;
        /*超长部分隐藏掉*/
    }
</style>
{% endblock %}