{% extends "base.html" %}


{% block page_content %}

<div>
    <div class="row clearfix" id="edit"></div>
    <div class="row clearfix" style="padding-top:10px;">
        <table id="table" class="table table-striped table-bordered table-hover" style="width:100%">
            <thead>
            <tr>
                <th width="5%">
                    编号
                </th>
                <th width="10%">
                    服务名
                </th>
                <th width="10%">
                    请求类型
                </th>
                <th width="15%">
                    服务路径
                </th>
                <th>
                    返回数据
                </th>
                <th width="10%">
                    运行状态
                </th>
                <th>
                    创建人
                </th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th width="5%">
                    编号
                </th>
                <th width="10%">
                    服务名
                </th>
                <th width="10%">
                    请求类型
                </th>
                <th width="15%">
                    服务路径
                </th>
                <th>
                    返回数据
                </th>
                <th width="10%">
                    运行状态
                </th>
                <th>
                    创建人
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">更新</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="service_name" class="col-sm-2 control-label">服务名</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="service_name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="service_type" class="col-sm-2 control-label">请求类型</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="service_type">
                                <option>GET</option>
                                <option>POST</option>
                                <option>DELETE</option>
                                <option>PUT</option>
                            </select>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="data" class="col-sm-2 control-label">返回数据</label>
                        <div class="col-sm-9">
                            <textarea type="textare" class=" form-control" id="data" rows="10"
                                      onmouseout="formate_json('data')"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="status" class="col-sm-2 control-label">状态</label>
                        <div class="radio col-sm-9" id="status">
                            <label>
                                <input type="radio" name="optionsRadios" id="running" value="running" checked>
                                启用
                            </label>
                            <label>
                                <input type="radio" name="optionsRadios" id="stop" value="stop">禁用
                            </label>
                        </div>

                    </div>

                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="submit" onclick="add_service()">更新</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var table;
    function load() {
        table = $('#table').DataTable({
            language: {
                url: "/static/language/cn.json"
            },
            lengthChange: true,
            ajax: "/apis/service",
            select: true,
            columnDefs: [
                { className: "wordwrap ellipsis-hover", targets: [4] }
            ],
            dom: 'Bfrtip',
            buttons: [
                {
                    text: '新增',
                    action: function () {
                        $("#myModal").modal();
                        add_moker();
                    },
                    class: "btn-default",
                },
                {
                    text: '编辑',
                    action: function () {
                        $("#myModal").modal();
                        update_moker();
                    },
                    class: "btn-default",
                },
                {
                    text: '删除',
                    action: function () {
                        delete_moker();
                    },
                    class: "btn-default",
                },
                {
                    'extend': 'copy',
                    'text': '拷贝数据',//定义导出excel按钮的文字  
                    // 'exportOptions': {
                    //     'modifier': {
                    //         'page': 'current'
                    //     }
                    // }
                },
                {
                    'extend': 'excelHtml5',
                    'text': '导出excel',//定义导出excel按钮的文字  
                    // 'exportOptions': {
                    //     'modifier': {
                    //         'page': 'current'
                    //     }
                    // }
                },
                // {
                //     text: '导入数据',
                //     action: function () {
                //         $("#upload").modal();
                //     },
                //     class: "btn-default",
                // },
                // 'pageLength',
            ]

        });
    }
    function delete_moker() {
        $.post("/apis/service", {
            service_name: table.rows(['.selected']).data()[0][1],
            operate: 'delete'
        }, function (data, status) {
            if (data.message) {
                table.ajax.reload()
                toastr.info('删除成功')
            }
        }).error(function () {
            toastr.info('删除失败')
        })
    }
    function update_moker() {
        $('#myModalLabel').text("更新");
        $('#submit').text("更新");
        $("#service_name").attr("disabled", "disabled");
        operate = 'update';
        $('#service_name').val(table.rows(['.selected']).data()[0][1]);
        $('#service_type').val(table.rows(['.selected']).data()[0][2]);
        $('#data').val(table.rows(['.selected']).data()[0][4]);
    }
    function add_moker() {
        $('#myModalLabel').text("新增");
        $('#submit').text("新增");
        operate = 'add';
        $("#service_name").removeAttr("disabled");
        $('#service_name').val(table.rows(['.selected']).data()[0][1]);
        $('#service_type').val(table.rows(['.selected']).data()[0][2]);
        $('#data').val(table.rows(['.selected']).data()[0][4]);
    }

    function init_upload() {
        $("#uploadfile").fileinput({
            language: 'zh', //设置语言
            uploadUrl: '/apis/upload', // 后台处理的PHP脚本
            allowedFileExtensions: ['csv', 'xls', 'xlsx', 'png'],//限制文件上传的类型
            uploadAsync: true,
            showCaption: true,
            showPreview: true, //是否显示预览
            overwriteInitial: false,
            maxFileSize: 1000,//限制文件上传的大小
            maxFilesNum: 10
        });
    }



</script>
<script type="text/javascript">
    window.onload = function () {
        $("a#moker").parent().addClass("active");
        load();
        init_upload()
    };
    window.addEventListener("keydown", function (e) {
        console.log(e);
        if (e.key === "Enter") {
            e.preventDefault();
            e.cancleBubble = true;
        }
    });




</script>
<style>
    #table {
        table-layout: fixed;
    }

    .wordwrap {
        text-overflow: ellipsis;
        /*超长部分以...代替*/
        white-space: nowrap;
        /*文本不换行*/
        max-width: 200px;
        /*最大宽度*/
        overflow: hidden;
        /*超长部分隐藏掉*/
    }

    /* 超长文字单元格省略号显示 */
    td:hover {
        text-overflow: ellipsis;
        /*超长部分以...代替*/
        white-space: unset;
        /*文本不换行*/
        max-width: 200px;
        /*最大宽度*/
        overflow: hidden;
        /*超长部分隐藏掉*/
    }



</style>
{% endblock %}
