{% extends "base.html" %}

{% block page_content %}
<div class="col-md-12 column">
    <div class="page-header">
        <a style="font-size:35px">
            生成个人信息
        </a>
        <a>
            <div class="btn-group">
                <div style="padding-top:13px;padding-left: 0px">
                    <a class="label label-info" id="filters"></a>
                    <a class="close" style="color:red" onclick="clear_filter()">clear</a>
                </div>
            </div>
        </a>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-12 column">
        <table id="table" class="table table-striped table-bordered table-hover" style="width:100%">
        </table>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">设置数据范围</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="city" class="col-sm-2 control-label">地区</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="city" placeholder="如：深圳、西安，限制生成身份证归属地"
                                ondblclick="clearval(this)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="age" class="col-sm-2 control-label">年龄</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="age" placeholder="输入年龄范围如：20-46 用-隔开"
                                ondblclick="clearval(this)" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sex" class="col-sm-2 control-label">性别</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="sex" value="随机">
                                <option>随机</option>

                                <option>男</option>
                                <option>女</option>
                            </select>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="submit" onclick="getdata()">提交</button>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    window.onload = function () {
        $("ul.submenu#tool").css("display", "block");
        $("a#accesslog").parent().addClass("active");
        load();
        getdata();

    };
</script>
<style>
    #table {
        table-layout: fixed;
    }

    .wordwrap {
        text-overflow: ellipsis;
        /*超长部分以...代替*/
        white-space: nowrap;
        /*文本不换行*/
        max-width: 200px;
        /*最大宽度*/
        overflow: hidden;
        /*超长部分隐藏掉*/
    }

    /* 超长文字单元格省略号显示 */
    td:hover {
        text-overflow: ellipsis;
        /*超长部分以...代替*/
        white-space: unset;
        /*文本不换行*/
        max-width: 200px;
        /*最大宽度*/
        overflow: hidden;
        /*超长部分隐藏掉*/
    }
</style>
<script type="text/javascript">
    function updae_data() {
        $.post("/apis/accesslog", {}, function (data, status) {
            if (data.message == true) {
                getdata
                toastr.info('更新成功')
            } else {
                toastr.error('更新失败')
            }
        }).error(function () {
            toastr.info('更新失败')
        })
    }

    var tabledata;

    function getdata() {
        $.get("/apis/accesslog", {}, function (data, status) {
            // show_filter()
            if (JSON.stringify(data) != '{}') {
                tabledata = data.data
                reloadData(tabledata)
                show_filter()
                $("#myModal").modal('hide');
            } else {
                toastr.error('无数据');

            }
        }).error(function () {

        })

    }


    function reloadData(dataList) {
        var currentPage = table.page()
        table.clear()
        table.rows.add(dataList)
        table.page(currentPage).draw(false);
    }

    var table;

    function load() {
        table = $('#table').DataTable({
            language: {
                url: "/static/language/cn.json"
            },
            lengthChange: true,
            data: tabledata,
            select: true,

            columns: [{
                    title: "序号"
                },
                {
                    title: "IP"
                },
                {
                    title: "页面",
                },
                {
                    title: "时间"
                },
                {
                    title: "IP归属地"
                }
            ],
            dom: 'Bfrtip',
            searching: false,
            lengthMenu: [
                [10, 25, 50, -1],
                ['10 行', '25 行', '50 行', '全部']
            ],
            buttons: [{
                    text: '更新',
                    action: function () {
                        updae_data()
                        getdata()
                    },
                    class: "btn-default",
                },
                {
                    'extend': 'excelHtml5',
                    'text': '导出excel', //定义导出excel按钮的文字  
                    'exportOptions': {
                        'modifier': {
                            'page': 'current'
                        }
                    }
                },
                'pageLength',
            ]
        });
    }
</script>

{% endblock %}