{% extends "base.html" %}

{% block page_content %}
<form class="form-inline" role="form" method="post">
    <div class="form-group">
        <label for="inputtext">加密内容：</label>
        <input type="text" class="form-control" id="inputtext" name="aes" style="width:600px" placeholder="请输入加密/解密内容"
            ondblclick="clearval(this)">

        <label for="submit" style="padding-right:30px;"></label>
        <input id="submit" type="button" class="btn btn-default" onclick="submit_aes()" value="提交" />
    </div>
</form>
<form>
    <div class="form-group">
        <label for="result" style="padding-top:30px">加/解密结果：</label>
        <textarea id="result" class="form-control" rows="10">{{result}}</textarea>
    </div>
</form>
<script type="text/javascript">
    window.onload = function () {
        $("ul.submenu#tool").css("display", "block");
        $("a#aes").parent().addClass("active");
    };
    window.addEventListener("keydown", function (e) {
        console.log(e);

        if (e.key === "Enter") {

            e.preventDefault();

            e.cancleBubble = true;
        }
    });


</script>
{% endblock %}