{% extends "base.html" %}

{% block page_content %}
<div class="col-md-12 column">

    <div class="row clearfix" style="height: 100px;">
        <div class="col-md-12 column">
            <div class="log-container">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label for="daterange">跑批截止日期：</label>
                        <input type="text" class="form-control" id="daterange" name="aes" style="width:300px"
                            placeholder="选择日期" ondblclick="clearval(this)">
                        <label for="submit" style="padding-right:30px;"></label>
                        <label for="createrselect">数据源</label>
                        <input type="text" class="form-control" id="datasource" list="datasourcelist"
                            onchange="setbuttondisplay()" ondblclick="clearval(this)" />

                        <datalist id="datasourcelist">
                            <option value="xy">自营</option>
                            <option value="360">360</option>
                        </datalist>
                        <input id="date" type="button" class="btn btn-default" onclick="get_coredate()"
                            value="获取当前核心时间" />
                        <input id="submit" type="button" class="btn btn-default" onclick="run_job()" value="提交" />

                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="log-container" id='logs'>
                <p id='1'></p>
                <p id='2'></p>
                <p id='3'></p>
                <p id='4'></p>
                <p id='5'></p>
                <p id='6'></p>
                <p id='7'></p>
                <p id='9'></p>
                <p id='9'></p>
                <p id='10'></p>
                <p id='11'></p>
                <p id='12'></p>
                <p id='13'></p>
                <p id='14'></p>
                <p id='15'></p>

            </div>
        </div>
    </div>
</div>

<script>
    function run_job() {
        get_log();
        toastr.info("已提交");
        $("#submit").attr("disabled", true);
        $.ajax({
            url: "/apis/runjob",
            type: "post",
            timeout: 1000,
            data: {
                "date": $('#daterange').val(),
                "project_code": $('#datasource').val()
            },
            success: function (data) {

            }
        })
    }

    function get_coredate() {
        $("#date").attr("disabled", true)
        $.post("/apis/runjob", {
            type: 'getdate',
            project_code: $('#datasource').val()
        }, function (data) {
            if (data) {
                $('#daterange').val(data.date)
                $("#date").attr("disabled", false)

            } else {
                toastr.error("获取核心时间失败")
                $("#date").attr("disabled", false)
            }
        })
    }

    var timeid;

    function get_log() {
        timeid = window.setInterval(function () {
            $.get("/apis/runjob", function (data) {
                $("#logs").empty()
                for (var i = 0, len = data.logs.length; i < len; i++) {
                    str = "<p>" + data.logs[i] + "</p>"
                    $("#logs").append(str)
                }
                if (data["run_status"] === "finish") {
                    toastr.info("执行完成");
                    stop_clearInterval();
                    $("#submit").attr("disabled", false);
                    get_coredate();
                }

            })
        }, 1000);
    }

    function stop_clearInterval() {
        if (timeid) {
            window.clearInterval(timeid)
        }
    }
</script>

<script type="text/javascript">
    window.onload = function () {
        $("ul.submenu#tool").css("display", "block");
        $("a#runjob").parent().addClass("active");
        // datarange();
    };
</script>
{% endblock %}