{% extends "base.html" %}

{% block page_content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="tabbable" id="tabs-619095">
        <ul class="nav nav-tabs">
          <li>
            <a href="#panel-54273" data-toggle="tab">执行报告</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="panel-54273">
            <div>
              <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                      <h4 class="modal-title">选择项目</h4>
                    </div>
                    <div class="modal-body">
                      <form class="form-horizontal" role="form">
                        <div class="form-group">
                          <label for="model" class=" col-sm-2 control-label">选择项目</label>
                          <div class="col-sm-9">
                            <input type="text" class="form-control" id="datasource" list="datasourcelist"
                              ondblclick="clearval(this)" />
                            <datalist id="datasourcelist">
                              <option value="xy">自营</option>
                              <option value="360">360</option>
                            </datalist>
                            </datalist>
                          </div>
                        </div>
                      </form>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="button" class="btn btn-primary" onclick="run_smokingtest()">
                          提交
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row clearfix">
                <p style="text-align:right">.</p>
                <table id="reporttable" class="table table-striped table-bordered table-hover" style="width:100%;">
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  var report_table;
  //测试用例执行页table初始化
  function init_reporttable() {
    report_table = $('#reporttable').DataTable({
      language: {
        url: "/static/language/cn.json"
      },
      lengthChange: true,
      ajax: {
        url: "/apis/filesmanager",
        type: 'get',
        data: {
          type: 'get',
          filepath: 'standard'
        },
      },
      select: true,
      columns: [{
          title: "序号"
        },
        {
          title: "报告"
        },
        {
          title: "大小（kb）"
        },
        {
          title: "生成日期"
        },
        {
          title: "查看报告"
        }
      ],
      aoColumnDefs: [{
        "aTargets": [4],
        "mRender": function (data, type, full) {
          return "<a href=../" + data + " > report</a >"
        }
      }],
      dom: 'Bfrtip',
      buttons: [{
          text: '执行冒烟测试',
          action: function () {
            $("#myModal").modal()
          },
          class: "btn-default",
        },
        {
          text: '删除',
          action: function () {
            delete_reports()
          },
          class: "btn-default",
        },
        {
          text: '刷新',
          action: function () {
            report_table.ajax.reload()
          },
          class: "btn-default",
        },
        'pageLength'
      ]
    });
  }


  function selected_jsondata(table) {
    var result = new Array();
    if (selected(table)) {
      data = table.rows(['.selected']).data()
      for (var i = 0, len = data.length; i < len; i++) {
        result[i] = data[i]
      }
      return JSON.stringify({
        'type': 'select',
        'user': localStorage.user,
        'data': JSON.stringify(result)
      })
    }
    return []
  }

  //文件下载
  function download() {
    var $a = document.createElement('a');
    var src = get_file();
    $a.setAttribute("href", src);
    $a.setAttribute("download", "");
    var evObj = document.createEvent('MouseEvents');
    evObj.initMouseEvent('click', true, true, window, 0, 0, 0, 0, 0, false, false, true, false, 0, null);
    $a.dispatchEvent(evObj);
  };


  //批量删除报告
  function delete_reports() {
    selected(report_table);
    $.ajax({
      url: '/apis/filesmanager',
      type: 'post',
      contentType: "application/json; charset=utf-8",
      dataType: 'json',
      data: selectereport_jsondata(report_table),
      success: function (result) {
        if (result.message) {
          report_table.ajax.reload();
          toastr.info('执行完成');
        } else {
          toastr.error('后台执行报错');
        }
      }
    })
  }

  //执行冒烟测试
  function run_smokingtest() {
    toastr.info('任务已提交，稍后刷新查看报告');
    $("#myModal").modal("hide")
    $.ajax({
      url: "/apis/runsmoking",
      type: "post",
      data: {
        "project_code": $('#datasource').val()
      },
      success: function (result) {
        if (result.message) {
          report_table.ajax.reload();
          toastr.info('执行完成');
        } else {
          toastr.error('后台执行报错');
        }
      }
    })
  }
  //查询执行结果
  function get_smokingtest() {
    $.ajax({
      url: "apis/runsmoking",
      type: "get",
      contentType: "application/json; charset=utf-8",
      dataType: 'json',
      data: {
        "project_code": $('#datasource').val()
      },
      success: function (result) {
        if (result.message) {
          report_table.ajax.reload();
          toastr.info('执行完成');
        } else {
          toastr.error('后台执行报错');
        }
      }
    })
  }


  function selectereport_jsondata(table) {
    var result = new Array();
    if (selected(table)) {
      data = table.rows(['.selected']).data()
      for (var i = 0, len = data.length; i < len; i++) {
        result[i] = data[i]
        result[i].push($('#header').val())
      }
      return JSON.stringify({
        'type': 'smokingreport',
        'user': localStorage.user,
        'data': JSON.stringify(result)
      })
    }
    return []
  }

  function selected_jsondata(table) {
    var result = new Array();
    if (selected(table)) {
      data = table.rows(['.selected']).data()
      for (var i = 0, len = data.length; i < len; i++) {
        result[i] = data[i]
        result[i].push($('#header').val())
      }
      return JSON.stringify({
        'type': 'delete',
        'user': localStorage.user,
        'data': JSON.stringify(result)
      })
    }
    return []
  }

  function selected_jsondata_remark(table) {
    var result = new Array();
    if (selected(table)) {
      data = table.rows(['.selected']).data()
      for (var i = 0, len = data.length; i < len; i++) {
        result[i] = data[i]
        result[i].push($('#header').val())
      }
      return JSON.stringify({
        'type': 'remark',
        'user': localStorage.user,
        'data': JSON.stringify(result)
      })
    }
    return []
  }
</script>
<script type="text/javascript">
  window.onload = function () {
    $("ul.submenu#tool").css("display", "block");
    $("a#smokingtest").parent().addClass("active");
    init_reporttable();
  };
</script>
<style>
  #table {
    table-layout: fixed;
  }

  .wordwrap {
    text-overflow: ellipsis;
    /*超长部分以...代替*/
    white-space: nowrap;
    /*文本不换行*/
    max-width: 200px;
    /*最大宽度*/
    overflow: hidden;
    /*超长部分隐藏掉*/
  }

  /* 超长文字单元格省略号显示 */
  td:hover {
    text-overflow: ellipsis;
    /*超长部分以...代替*/
    white-space: unset;
    /*文本不换行*/
    max-width: 200px;
    /*最大宽度*/
    overflow: hidden;
    /*超长部分隐藏掉*/
  }
</style>
{% endblock %}