{% extends "base.html" %}

{% block page_content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="page-header">
                <h1>
                    DASHBOARD
                    <small></small>
                </h1>
            </div>
            <div class="row-fluid">
                <div class="col-md-6 column">
                    <div id='apimodel' style="widows: 50%; height:300px;">
                    </div>
                </div>
                <div class="col-md-6 column">
                    <div id='casemodel' style="widows: 50%; height:300px;">
                    </div>
                </div>
            </div>
            <div style="height:50px" class="col-md-12 column">

            </div>
            <!-- <div class="row-fluid">
                <div class="col-md-12 column">
                    <div id='performance' style="widows: 100%; height:400px;">
                    </div>
                </div>
            </div> -->
            <div class="row-fluid">
                <div class="col-md-6 column">
                    <div id='apipass' style="widows: 200px; height:300px;">
                    </div>
                </div>
                <div class="col-md-6 column">
                    <div id='casepass' style="widows: 200px; height:300px;">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<script>
    //接口分布图
    var api_model_Chart = ''
    var api_data = ''
    var models = ''
    function api_model_pie() {
        var dom = document.getElementById("apimodel");
        api_model_Chart = echarts.init(dom);
        var app = {};
        option = null;
        option = {
            title: {
                text: 'API 项目分布',
                // subtext: '纯属虚构',
                x: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: models
            },
            series: [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '60%'],
                    data: api_data,
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        ;
        if (option && typeof option === "object") {
            api_model_Chart.setOption(option, true);
        }
    }
    function api_model_data() {
        $.ajax({
            url: '/apis/dashboard',
            type: 'get',
            data: {
                type: 'api_model_data'
            },
            success: function (result) {
                if (result.message) {
                    api_data = result.data;
                    models = result.models;
                    api_model_pie();

                } else {
                    toastr.error('后台执行报错');
                }
            }
        })
    }


    //用例分布分布图
    var case_model_Chart = ''
    var case_data
    var case_models
    function case_model_pie() {
        var dom = document.getElementById("casemodel");
        case_model_Chart = echarts.init(dom);
        var app = {};
        option = null;
        option = {
            title: {
                text: '用例项目分布',
                // subtext: '纯属虚构',
                x: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: case_models
            },
            series: [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '60%'],
                    data: case_data,
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        if (option && typeof option === "object") {
            case_model_Chart.setOption(option, true);
        }
    }

    function case_model_data() {
        $.ajax({
            url: '/apis/dashboard',
            type: 'get',
            data: {
                type: 'case_model_data'
            },
            success: function (result) {
                if (result.message) {
                    case_data = result.data;
                    case_models = result.models;
                    case_model_pie();

                } else {
                    toastr.error('后台执行报错');
                }
            }
        })
    }

    //接口编写测试用例覆盖
    var api_pass_Chart
    var api_pass_models = [];
    var api_data = [];
    function api_pass() {
        var dom = document.getElementById("apipass");
        api_pass_Chart = echarts.init(dom);
        var app = {};
        var xAxisData = []
        var data1 = []
        var data2 = []

        for (var i = 0; i < models.length; i++) {
            xAxisData.push(models[i]);
            data1.push(api_data[models[i]][0]);
            data2.push(api_data[models[i]][1]);
        }

        option = {
            title: {
                text: 'API测试覆盖情况',
                x: 'center'

            },
            legend: {
                data: ['YES', 'NO'],
                align: 'left',
                top: '30px'
            },
            toolbox: {
                y: 'bottom',
                top: '30px',
                feature: {
                    magicType: {
                        type: ['stack', 'tiled']
                    },
                    dataView: {},
                    saveAsImage: {
                        pixelRatio: 2
                    }
                }
            },
            tooltip: {},
            xAxis: {
                data: xAxisData,
                silent: false,
                splitLine: {
                    show: false
                }
            },
            yAxis: {
            },
            series: [{
                name: 'YES',
                type: 'bar',
                label: {
                    normal: {
                        show: true,
                        position: 'inside',
                        formatter: '{c}'//多值的嵌套
                    }
                },
                data: data1,
                animationDelay: function (idx) {
                    return idx * 10;
                }
            }, {
                name: 'NO',
                type: 'bar',
                label: {
                    normal: {
                        show: true,
                        position: 'inside',
                        formatter: '{c}'//多值的嵌套
                    }
                },
                data: data2,
                animationDelay: function (idx) {
                    return idx * 10 + 100;
                }
            }],
            animationEasing: 'elasticOut',
            animationDelayUpdate: function (idx) {
                return idx * 5;
            }
        };
        if (option && typeof option === "object") {
            api_pass_Chart.setOption(option, true);
        }
    }

    function api_case_data() {
        $.ajax({
            url: '/apis/dashboard',
            type: 'get',
            data: {
                type: 'api_case_data'
            },
            success: function (result) {
                if (result.message) {
                    api_data = result.data;
                    api_pass();

                } else {
                    toastr.error('后台执行报错');
                }
            }
        })
    }

    //最新执行通过情况
    var case_pass_Chart
    var casedata = []
    function case_pass() {
        var dom = document.getElementById("casepass");
        case_pass_Chart = echarts.init(dom);
        var app = {};
        var xAxisData = [];
        var data1 = [];
        var data2 = [];
        for (var i = 0; i < models.length; i++) {
            xAxisData.push(models[i]);
            data1.push(casedata[models[i]][0]);
            data2.push(casedata[models[i]][1]);
        }

        option = {
            title: {
                text: '项目最新执行情况',
                x: 'center'
            },
            legend: {
                data: ['pass', 'fail'],
                align: 'left',
                top: '30px'

            },
            toolbox: {
                // y: 'bottom',
                top: '30px',
                feature: {
                    magicType: {
                        type: ['stack', 'tiled']
                    },
                    dataView: {},
                    saveAsImage: {
                        pixelRatio: 2
                    }
                }
            },
            tooltip: {},
            xAxis: {
                data: xAxisData,
                silent: false,
                splitLine: {
                    show: false
                }
            },
            yAxis: {
            },
            series: [{
                name: 'pass',
                type: 'bar',
                label: {
                    normal: {
                        show: true,
                        position: 'inside',
                        formatter: '{c}'//多值的嵌套
                    }
                },
                data: data1,
                animationDelay: function (idx) {
                    return idx * 10;
                }
            }, {
                name: 'fail',
                type: 'bar',
                label: {
                    normal: {
                        show: true,
                        position: 'inside',
                        formatter: '{c}'//多值的嵌套
                    }
                },
                data: data2,
                animationDelay: function (idx) {
                    return idx * 10 + 100;
                }
            },
            ],
            animationEasing: 'elasticOut',
            animationDelayUpdate: function (idx) {
                return idx * 5;
            }
        };
        if (option && typeof option === "object") {
            case_pass_Chart.setOption(option, true);
        }
    }

    function case_pass_data() {
        $.ajax({
            url: '/apis/dashboard',
            type: 'get',
            data: {
                type: 'case_pass_data'
            },
            success: function (result) {
                if (result.message) {
                    casedata = result.data;
                    case_pass();
                } else {
                    toastr.error('后台执行报错');
                }
            }
        })
    }


    //关系图表
    var performance_Chart = ''
    function performance() {
        var dom = document.getElementById("performance");
        performance_Chart = echarts.init(dom);
        var app = {};
        var dataCount = 5e5;
        var data = generateData(dataCount);

        var option = {
            title: {
                text: echarts.format.addCommas(dataCount) + ' Data',
                left: 10
            },
            toolbox: {
                feature: {
                    dataZoom: {
                        yAxisIndex: false
                    },
                    saveAsImage: {
                        pixelRatio: 2
                    }
                }
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            grid: {
                bottom: 90
            },
            dataZoom: [{
                type: 'inside'
            }, {
                type: 'slider'
            }],
            xAxis: {
                data: data.categoryData,
                silent: false,
                splitLine: {
                    show: false
                },
                splitArea: {
                    show: false
                }
            },
            yAxis: {
                splitArea: {
                    show: false
                }
            },
            series: [{
                type: 'bar',
                data: data.valueData,
                // Set `large` for large data amount
                large: true
            }]
        };

        function generateData(count) {
            var baseValue = Math.random() * 1000;
            var time = +new Date(2011, 0, 1);
            var smallBaseValue;

            function next(idx) {
                smallBaseValue = idx % 30 === 0
                    ? Math.random() * 700
                    : (smallBaseValue + Math.random() * 500 - 250);
                baseValue += Math.random() * 20 - 10;
                return Math.max(
                    0,
                    Math.round(baseValue + smallBaseValue) + 3000
                );
            }

            var categoryData = [];
            var valueData = [];

            for (var i = 0; i < count; i++) {
                categoryData.push(echarts.format.formatTime('yyyy-MM-dd\nhh:mm:ss', time));
                valueData.push(next(i).toFixed(2));
                time += 1000;
            }

            return {
                categoryData: categoryData,
                valueData: valueData
            };
        }

        if (option && typeof option === "object") {
            performance_Chart.setOption(option, true);
        }
    }



</script>
<script>
    window.onload = function () {
        $("a#home").parent().addClass("active");
        api_model_data();
        case_model_data();
        api_case_data();
        case_pass_data();
        // performance();
    };
    window.onresize = function () {
        api_model_Chart.resize();
        case_model_Chart.resize();
        api_pass_Chart.resize();
        case_pass_Chart.resize();
    }



</script>
{% endblock %}