{% extends "base.html" %}

{% block page_content %}
<div class="page-header">
    <h1>
        常用系统链接 <span id="headername"></span>
    </h1>
</div>

<div class="span12">
    <p>
        <label for="git" style="font-size :20px;">git地址：</label>
        <a id="git" href="https://github.com/ypsh/Flask_test_platform" style="font-size :20px;" target="_blank">
            https://github.com/ypsh/Flask_test_platform</a>
    </p>
    <hr/>
    {% for item in titles %}
    <p>
        <label style="font-size :20px;" for="{{item.title}}">{{item.title}}：</label>
        <a style="font-size :20px;" id="{{item.title}}" href="{{item.path}}" target="_blank">{{item.path}}</a>
    </p>
    <hr/>
    {% endfor %}
</div>

{% endblock %}
