{% extends "bootstrap/base.html" %}

{% block navbar %}

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background:#080808">
    <div class="container navbar-left">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar" icon="/static/login_images/avtar.png">头像</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="superloan" class="navbar-brand" href="/" style="color:#f5f2f2">YPSH-WEB-TOOLS</a>
        </div>
        <div class="navbar-collapse collapse navbar-left">
            <ul class="nav navbar-nav">
                <!-- <li><a id="messgecode" href="/tools/messagecode">验证码</a></li> -->
                <!--<li><a id="aes" href="/tools/aes">加解密</a></li>-->
                <!--<li><a id="callback" href="/tools/callback">回调</a></li>-->
                <!--<li><a id="customer" href="/tools/customer">测试数据状态</a></li>-->
            </ul>
        </div>

    </div>
    <div class="navbar-collapse collapse navbar-right" style="padding-right:2%">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="height:10px;">
                    <img alt="" class="img-circle" src="/static/login_images/avtar.png" width="30px" height="30px" />
                    <span class="username" style="color: #FFFFFF;font-size: 15px;">
                        <i></i> username</span> </a>
                <div class="dropdown-menu pull-right"
                    style="background: #FFFFFF;width: 320px;overflow: hidden;margin-top: 20px;">
                    <div style="margin-top: 5px;border-bottom: 1px solid #eeeeee">
                        <div style="text-align: center"><img class="img-circle" src="/static/login_images/avtar.png"
                                style="width: 38px;height: 38px;" />
                        </div>
                        <div style="color: #323534;text-align: center;line-height: 36px;font-size: 15px"><span
                                class="username">username</span>
                        </div>
                    </div>
                    <div class="row" style="margin-left: 15px;margin-right: 15px;margin-top: 10px">
                        <div type="hover" class="col-md-4 text-center grid"><i class="fa fa-user"
                                style="font-size: 25px;line-height: 45px;"></i>
                            <p style="padding: 0px;margin-top: 6px;margin-bottom: 10px;font-size: 12px"> 个人中心</p>
                        </div>
                        <div type="hover" class="col-md-4 text-center grid"><i class="fa fa-gear"
                                style="font-size: 25px;line-height: 45px;"></i>
                            <p style="padding: 0px;margin-top: 6px;margin-bottom: 10px;font-size: 12px"> 账号管理</p>
                        </div>
                        <div type="hover" class="col-md-4 text-center grid"><i class="fa fa-key"
                                style="font-size: 25px;line-height: 45px;"></i>
                            <p style="padding: 0px;margin-top: 6px;margin-bottom: 10px;font-size: 12px"> 密码修改</p>
                        </div>
                    </div>
                    <div class="row" style="margin-left: 15px;margin-right: 15px;margin-top: 10px">
                        <div type="hover" class="col-md-4 text-center grid"><i class="fa fa-heart-o"
                                style="font-size: 25px;line-height: 45px;"></i>
                            <p style="padding: 0px;margin-top: 6px;margin-bottom: 10px;font-size: 12px"> 修改头像</p>
                        </div>
                        <div type="hover" class="col-md-4 text-center grid"><i class="fa fa-comments"
                                style="font-size: 25px;line-height: 45px;"></i>
                            <p style="padding: 0px;margin-top: 6px;margin-bottom: 10px;font-size: 12px"> 消息</p>
                        </div>
                        <div type="hover" class="col-md-4 text-center grid"><i class="fa fa-heart-o"
                                style="font-size: 25px;line-height: 45px;"></i>
                            <p style="padding: 0px;margin-top: 6px;margin-bottom: 10px;font-size: 12px"> 帮助中心</p>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px" type="hover">
                        <div type="hover" class="text-center" onclick="logout()" style="padding: 15px;margin: 0px;">
                            <i type="hover" class="fa fa-sign-out"></i> 退出登入界面
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="content" id="container">
    <div id="left">
        <div id="jquery-accordion-menu" class="jquery-accordion-menu red">
            <div class="jquery-accordion-menu-header" id="form"></div>
            <ul id="route">
                <li><a href="/dashboard" id="home"><i class="fa fa-dashboard"></i>DashBoard</a></li>
                <li><a href="#"><i class="fa fa-suitcase"></i>工具 </a>
                    <ul class="submenu" id="tool">
                        <li><a id="makedata" href="/tools/makedata">生成数据</a></li>
                        <li><a id="bankcode" href="/tools/bankcode">生成银行卡</a></li>
                        <li><a id="aes" href="/tools/aes">加解密</a></li>
                        <li><a id="jmeter" href="/tools/jmeter">Jmeter</a></li>
                        <li><a id="runjob" href="/tools/runjob">跑批</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-folder"></i>资料管理 </a>
                    <ul class="submenu" id="datum">
                        <li><a id="git" href="">git文件</a></li>
                        <li><a id="filesmanager" href="/datum/filesmanager">文件管理</a></li>
                    </ul>
                </li>
                <li><a href="/moker" id="moker"><i class="fa fa-cogs"></i>服务模拟 </a></li>
                <li><a href="#"><i class="fa fa-paper-plane"></i>自动化测试 </a>
                    <ul class="submenu" id="autotest">
                        <li><a id="apimanager" href="/autotest/apimanager">接口管理</a></li>
                        <li><a id="testcase" href="/autotest/testcase">测试用例</a></li>
                        <li><a id="report" href="/autotest/testreport">测试报告</a></li>
                        <li><a id="task" href="/autotest/task">任务管理</a></li>
                    </ul>
                </li>
                <li><a href="/extendlink"><i class="fa fa-external-link"></i>常用系统链接 </a></li>
                <li><a href="#"><i class="fa fa-user"></i>Contact </a></li>
                <li><a href="/admin"><i class="fa fa-gear"></i>后台管理 </a></li>


            </ul>
            <div class="jquery-accordion-menu-footer">
            </div>
        </div>
    </div>
    <div class="col-md-9 column" id="right">
        <div id="body">
            {% block page_content %}{% endblock %}
            <div class="modal fade bs-example-modal-lg" id="upload" tabindex=" -1" role="dialog"
                aria-labelledby="myModalupload">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span></button>
                            <h4 class="modal-title" id="myModalLabel">上传</h4>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" role="form">
                                <div class="">
                                    <input id="uploadfile" name="files" type="file" multiple
                                        data-overwrite-initial="false">
                                </div>
                            </form>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">完成</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/jquery.min.js" type=" text/javascript"></script>
<script language="JavaScript" src="/static/main.js"></script>
<script src="/static/js/jquery-accordion-menu.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        //顶部导航切换
        $("#route li").click(function () {
            $("#route li.active").removeClass("active")
            $(this).addClass("active");
        })
    })
</script>
<script type="text/javascript">
    (function ($) {
        $.expr[":"].Contains = function (a, i, m) {
            return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
        };

        function filterList(header, list) {
            //@header 头部元素
            //@list 无需列表
            //创建一个搜素表单
            var form = $("<form>").attr({
                    "class": "filterform",
                    action: "#"
                }),
                input = $("<input>").attr({
                    "class": "filterinput",
                    type: "text"
                });
            $(form).append(input).appendTo(header);
            $(input).change(function () {
                var filter = $(this).val();
                if (filter) {
                    $matches = $(list).find("a:Contains(" + filter + ")").parent();
                    $("li", list).not($matches).slideUp();
                    $matches.slideDown();
                } else {
                    $(list).find("li").slideDown();
                }
                return false;
            }).keyup(function () {
                $(this).change();
            });
        }
        $(function () {
            filterList($("#form"), $("#route"));
        });
    })(jQuery);
</script>
<script type="text/javascript">
    jQuery("#jquery-accordion-menu").jqueryAccordionMenu();
</script>
<script>
    // $(function () {
    // checkup();
    $('[class=username]').text(localStorage.user)
    // });
</script>
<style type="text/css">
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    /* body {
        background: #f0f0f0;
    } */

    /* .content {
        width: 260px;
        margin: 20px auto;
    } */
    #container {
        padding-top: 50px;
        display: flex;
        min-height: 100vh;
        /* border: 2px solid black; */
    }

    #left {
        padding-top: 1%;
        position: static;
        border-right: 2px solid #080808;
        width: 14%;
        min-width: 10px;
        max-width: 200px;
        resize: both;
        overflow: hidden;
        background-color: #080808;
        /*必须设置overflow属性，才能使resize生效*/
    }

    #right {
        padding-top: 1%;
        flex: 1;
        width: 100%;
        height: 100%;
        overflow-x: auto;
    }

    #right>div {
        padding-left: 5%;
        width: calc(100vw - 300px);
        min-width: 300px;
    }

    .filterinput {
        background-color: rgba(249, 244, 244, 0);
        border-radius: 15px;
        width: 90%;
        height: 30px;
        border: thin solid #FFF;
        text-indent: 0.5em;
        font-weight: bold;
        color: #FFF;
    }

    #route a {
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }
</style>
<style type="text/css">
    * {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    /* body {
        background: #f0f0f0;
    } */

    /* .content {
        width: 260px;
        margin: 20px auto;
    } */

    .filterinput {
        background-color: rgba(249, 244, 244, 0);
        border-radius: 15px;
        width: 90%;
        height: 30px;
        border: thin solid #FFF;
        text-indent: 0.5em;
        font-weight: bold;
        color: #FFF;
    }

    #route a {
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }
</style>
<style>
    *[type="hover"]:hover {
        background: #ff2775;
        border-bottom-left-radius: 15px;
        -webkit-border-bottom-left-radius: 15px;
        -moz-border-bottom-left-radius: 15px;
        -o-border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        -webkit-border-bottom-right-radius: 15px;
        -moz-border-bottom-right-radius: 15px;
        -o-border-bottom-right-radius: 15px;
        transition: 1s all;
        -webkit-transition: 1s all;
        -moz-transition: 1s all;
        -o-transition: 1s all;
    }

    div[id='body'],
    td {
        font-size: 10px !important
    }

    div[id='body'],
    th {
        font-size: 10px !important
    }

    body {
        font-size: 10px !important
    }
</style>
{% endblock %}
{% block scripts %}
<script src="/static/js/jquery.min.js" type=" text/javascript"></script>

<!-- <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script> -->
<script src="https://cdn.bootcss.com/toastr.js/2.1.4/toastr.min.js"></script>
<script src="https://cdn.bootcss.com/echarts/4.2.0-rc.2/echarts.min.js"></script>
<!-- <script src="https://cdn.bootcss.com/pdfmake/0.1.40/pdfmake.min.js"></script> -->
<script src="/static/datatables/pdfmake-0.1.36/pdfmake.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-fileinput/4.5.2/js/fileinput.min.js"></script>
<script src="https://cdn.bootcss.com/datatables/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.bootcss.com/jszip/2.5.0/jszip.min.js"></script>

<!-- <script src="/static/toastr/toastr.min.js"></script> -->
<script src="/static/datatables/js/bootstrap.min.js" type=" text/javascript"></script>
<!-- <script src="/static/datatables/js/jquery.dataTables.min.js"></script> -->
<script src="/static/datatables/js/dataTables.bootstrap.min.js"></script>
<script src="/static/datatables/js/dataTables.buttons.min.js"></script>
<script src="/static/datatables/js/buttons.bootstrap.min.js"></script>
<script src="/static/datatables/js/dataTables.select.min.js"></script>
<!-- <script src="/static/datatables/JSZip-2.5.0/jszip.min.js"></script> -->
<script src="/static/datatables/Buttons-1.5.4/js/buttons.html5.min.js"></script>
<!-- <script src="/static/datatables/pdfmake-0.1.36/pdfmake.min.js"></script> -->
<!-- <script src="/static/fileinput/js/fileinput.js" type="text/javascript"></script> -->
<script src="/static/fileinput/js/locales/zh.js" type="text/javascript"></script>
<!-- <script type="text/javascript" src="/static/echarts/echarts.min.js"></script> -->
<script src="https://cdn.bootcss.com/moment.js/2.23.0/moment.min.js"></script>
<!-- <script src="/static/datapicker/moment.min.js"></script> -->
<script src="/static/datapicker/daterangepicker.js"></script>
<script src="/static/QRCode/qrcode.min.js"></script>
<script type="text/javascript">
    toastr.options.positionClass = 'toast-top-center';
</script>



{% endblock %}
{%- block styles %}
<!-- <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
<link href="/static/datatables/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/datatables/css/buttons.bootstrap.min.css" rel="stylesheet">
<link href="/static/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet">
<link href="/static/datatables/css/editor.bootstrap.min.css" rel="stylesheet">
<link href="/static/datatables/css/select.bootstrap.min.css" rel="stylesheet">
<link href="/static/css/jquery-accordion-menu.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.bootcss.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">

<!-- <link href="/static/css/font-awesome.css" rel="stylesheet" type="text/css" /> -->
<link href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.css" rel="stylesheet">

<!-- <link href="/static/toastr/toastr.css" rel="stylesheet" type="text/css" /> -->
<!-- <link href="/static/toastr/toastr.min.css" rel="stylesheet" type="text/css" /> -->
<link href="https://cdn.bootcss.com/bootstrap-fileinput/4.5.2/css/fileinput.css" rel="stylesheet">

<!-- <link href="/static/fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" /> -->
<link href="/static/datapicker/daterangepicker.css" rel="stylesheet" type="text/css" />

{% endblock %}