{% extends "base.html" %}

{% block page_content %}
<div class="jumbotron" style="padding-left: 2%;">
    <div class="span12">
        <div class="hero-unit">
            <h1>
                欢迎使用
            </h1>
            <p>
                这是一个基于Flask开发的测试平台，目前功能还在持续开发中.......
            </p>
            <p>
                已完成的功能：
            </p>
            <p>
                1、登录验证
            </p>
            <p>
                2、文件管理
            </p>
            <p>
                3、服务模拟
            </p>
            <p>
                4、接口自动化
            </p>
            <p>
                5、后台管理
            </p>
            <p>
                有好的建议欢迎提供
            </p>
            <p>
                <a class="btn btn-primary btn-large" href="#">Learn more</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}
