{% extends "bootstrap/base.html" %}
{% block content %}
<link href="/static/css/login.css" rel='stylesheet' type='text/css'/>
<!-- <script>
    $(document).ready(function (c) {
        $('.close').on('click', function (c) {
            $('.login-form').fadeOut('slow', function (c) {
                $('.login-form').remove();
            });
        });
    });
</script> -->
<!--SIGN UP-->
<h1>YPSH-FLASK-LOGIN</h1>
<div class="login-form">
    <div class="close"></div>
    <div class="head-info">
        <label class="lbl-1"> </label>
        <label class="lbl-2"> </label>
        <label class="lbl-3"> </label>
    </div>
    <div class="clear"></div>
    <div class="avtar">
        <img src="/static/login_images/avtar.png"/>
    </div>
    <form method="POST">
        <input type="text" name='username' class="text" id="username" onfocus="this.value = '';"
               onblur="if (this.value == '') {this.value = 'Username';}">
        <div class="key">
            <input type="password" name='password' id="password" onfocus="this.value = '';"
                   onblur="if (this.value == '') {this.value = 'Password';}">
        </div>

    </form>
    <div class="signin">
        <input type="submit" value="login" id="login" onclick="login()">
    </div>

</div>
<script language="JavaScript">
    //用户登录
    function login() {
        username = $('#username').val()
        password = $('#password').val()
        $('#login').button('loading')
        $.post("/apis/user", {
            username: username,
            password: password,
        }, function (data, status) {
            if (data != null && data.login) {
                localStorage.clear()
                localStorage.setItem('token', data.token)
                localStorage.setItem('user', username)
                localStorage.setItem('environment', '测试环境')
                window.location.href = "/"
            } else {
                alert('账号或密码错误')
            }
            $('#login').button('reset');
        }).error(function () {
            $('#login').button('reset');
            alert('获取失败：');
        })
    }


</script>


{% endblock %}
